<!--ベーステンプレートを適用する-->
{% extends 'base.html' %}

<!--ヘッダー情報のページタイトルはベーステンプレートを利用するページで設定する-->
{% block title %}FlaskBlog{% endblock %}

        <!-- Page Header-->
        {% block header %}
        <header class="masthead" style="background-image: url('/static/assets/img/post-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>{{ entry.title }}</h1>
                            <h2 class="subheading">{{entry.contents|truncate(30)}}</h2>
                            <span class="meta">
                                <a href="{{ url_for('index') }}">Flask Blog</a>
                                {{ entry.create_at }}に投稿
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        {% endblock %}

        <!-- Main Content-->
        {% block contents %}

        <article class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7176">
                        <p>{{entry.contents}}</p>
                    </div>
                </div>
            </div>
        </article>
        <hr>
        {% endblock %}
        <!--フッダー以下はベーステンプレートを適用する-->
