<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="'X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Docment</title>
    <link 
        href="{{ url_for('crud.static', filename='/style.css') }}" 
        rel="stylesheet" />
</head>
<body>
    <div class="pad">
        <h2>投稿記事の削除</h2>
        <p>
            削除する記事の[削除]をクリックしてください
        </p>
        <a href="{{ url_for('crud.login_del') }}">削除をやめる</a>
        <br><br>

        <table>
            <tr>
                <th>id</th>
                <th>タイトル</th>
                <th>削除</th>
            </tr>
            {% for entry in entries %}
            <tr>
                <td>{{entry.id}}</td>
                <td>{{entry.title}}</td>
                <td>
    <a href="{{ url_for('crud.delete', id=entry.id) }}">削除</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>

</html>